body {
    background-color: black;
    color: green;
}

nav {
    background-color: rgb(24, 24, 24);
    border: solid 2px rgb(44, 44, 44);
    border-radius: 13px;
}

.a1a {
    padding: 5px;
    margin: 2px;
}